html {
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #222;
}

#globalDiv {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.carousel {
    width: 600px;
    height: 300px;
    position: relative;
}

img {
    user-select: none;
    width: 600px;
    height: 288px;
}

.rightArrow, .leftArrow {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    font-size: 3rem;
    width: 2%;
    height: 5%;
    color: white;
}

.rightArrow {
    right: 1rem;
    top: 45%;
}

.leftArrow {
    left: 1rem;
    top: 45%;
}





@media screen and (max-width: 650px) {
    #carousel {
        width: 100%;
    }
}

@media screen and (max-width: 612px) {
    img {
        width: 100%;
    }
}
