html {
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #222;
}

.globalDiv {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    border: 3px dashed #F3F3F3;
    margin: 1rem;
}

#carousel {
    width: 600px;
    height: 300px;
    border: 2px solid red;
}

img {
    width: 600px;
    height: 288px;
}