html {
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #222;
}

#globalDiv {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

#carousel {
    width: 600px;
    height: 300px;
}

img {
    user-select: none;
    width: 600px;
    height: 288px;
}

#rightArrow, #leftArrow {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    font-size: 3rem;
    width: 2%;
    height: 5%;
    color: white;
    right: 30%;
    top: 19%;
}

#leftArrow {
    left: 31%;
    top: 19%;
}

@media screen and (max-width: 1310px){
    #rightArrow {
        right: 27%;
    }

    #leftArrow {
        left: 28.5%;
    }
}

@media screen and (max-width: 1100px){
    #rightArrow {
        right: 24%;
    }

    #leftArrow {
        left: 25.5%;
    }
}

@media screen and (max-width: 950px){
    #rightArrow {
        right: 21%;
    }

    #leftArrow {
        left: 22.5%;
    }
}

@media screen and (max-width: 850px){
    #rightArrow {
        right: 18%;
    }

    #leftArrow {
        left: 18%;
    }
}

@media screen and (max-width: 750px) {
    #rightArrow {
        right: 13%;
    }

    #leftArrow {
        left: 15%;
    }
}

@media screen and (max-width: 650px) {
    #carousel {
        width: 100%;
    }

    #rightArrow {
        right: 10%;
    }

    #leftArrow {
        left: 10%;
    }
}

@media screen and (max-width: 612px) {
    img {
        width: 100%;
    }
}